{{# each model as |dataset|}}
  <tr {{action "gotoDataset" dataset}}>
    <td>{{dataset.name}}</td>
    <td>{{dataset.owner}}</td>
    <td>{{format-number dataset.recordCount}}</td>
    <td>{{dataset.itemType}}</td>
    <td>{{format-number dataset.views}}</td>
    <td>{{moment-from-now dataset.createdAt}}</td>
    <td>{{moment-from-now dataset.updatedAt}}</td>
  </tr>
{{/ each}}
