<h2>
    Your search for <em>"{{q}}"</em> yielded {{format-number totalCount}} datasets
</h2>

<div class="table-responsive">  
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>NAME</th>
        <th>OWNER</th>
        <th>RECORDS</th>
        <th>LAYER TYPE</th>
        <th>VIEWS</th>
        <th>CREATED</th>
        <th>UPDATED</th>
      </tr>
    </thead>
    <tbody>
      {{outlet}}
    </tbody>
  </table>
</div>

<nav>
  <ul class="pagination">
    {{!-- If we're on the first page, do not display the link --}}
    {{#if isFirstPage}}
      <li class="disabled">
        <a>&laquo;</a>
      </li>
    {{else}}
      <li>
        {{#link-to (query-params page=prevPage)}}&laquo;{{/link-to}}
      </li>
    {{/if}}

    {{!--
      For each page, display a link leading to it.
      We could be smart and disable the link for the current page,
      just like we're doing for the "previous"/"next" links.
    --}}
    {{#each pageRange as |num|}}
      <li class="{{num.className}}">
        {{#link-to (query-params page=num.page)}}{{num.page}}{{/link-to}}
      </li>
    {{/each}}

    {{!-- If we're on the last page, do not display the link --}}
    {{#if isLastPage}}
      <li class="disabled">
        <a>&raquo;</a>
      </li>
    {{else}}
      <li>
        {{#link-to (query-params page=nextPage)}}&raquo;{{/link-to}}
      </li>
    {{/if}}
  </ul>
</nav>
